@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 20px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 20px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 50vh;
}

.library-footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
}

.library-footer a {
    color: grey;
}